<h3 class="mb-4 text-center">Verification Payment</h3>
<% if @client %>
  <h5 class="mb-4 text-center">
    You are about to pay <strong><%= number_to_currency(@client.amount) %></strong>
  </h5>
<% end %>
<%= form_with url: espago_charge_path, method: :post, data: { turbo: false }, id: "payment_form" do |form| %>
  <%= hidden_field_tag :client_type, @client.class.name %>
  <%= hidden_field_tag :client_id, @client.id %>
  <%= hidden_field_tag :payment_mode, @client.client_id%>
  <%= hidden_field_tag :cof, 'recurring'%>
  <div class="mb-4 border rounded p-3">
    <h6 class="text-center">
      In order to verify auto-renew subscription functionality, we need to charge you 0.01$ to test automatic payments for this card.
      <br>
      <br>
      You can cancel this payment and renew your subscription manually instead.
    </h6>
  </div>
  <%= form.submit "Pay", class: "btn btn-primary btn-lg w-100" %>
  <%= link_to "Cancel", espago_client_path(@client), class: "btn btn-success btn-lg w-100 mt-2" %>
  <p class="text-center text-muted mt-1 mb-0" style="font-size: 0.9rem;">
    Payments provided by Espago
  </p>
<% end %>