<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title mb-4">Client Details</h5>
    <div class="row">
      <%= render "clients/show/card_details", title: 'Client Number' do %>
        <%= client.uuid %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "clients/show/card_details", title: 'Status' do %>
        <span class="badge <%= status_color(client.state) %> w-50">
          <%= client.state %>
        </span>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "clients/show/card_details", title: 'Last4' do %>
        <%= client.last4 %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "clients/show/card_details", title: 'First Name' do %>
        <%= client.first_name %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "clients/show/card_details", title: 'Last Name' do %>
        <%= client.last_name %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "clients/show/card_details", title: 'Espago Client ID' do %>
        <%= client.espago_client_id %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "clients/show/card_details", title: 'Card Identifier' do %>
        <%= client.card_identifier %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "clients/show/card_details", title: 'Year' do %>
        <%= client.year %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "clients/show/card_details", title: 'Month' do %>
        <%= client.month %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "clients/show/card_details", title: 'Primary' do %>
        <div data-controller="primary-client-toggle" data-primary-client-toggle-url-value="<%= toggle_primary_client_path(client) %>">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="primary-client-toggle" <%= "checked" if client.primary? %> <%= "disabled" unless client.mit? %> data-action="change->primary-client-toggle#toggle" >
            <label class="form-check-label" for="primary-client-toggle">
              <% unless client.mit? %>
                <i
                    class="bi bi-info-circle text-muted"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="You need to Authorize your Payment Method in order to make it Primary"
                  ></i>
              <% end %>
            </label>
          </div>
        </div>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "clients/show/card_details", title: 'Company' do %>
        <%= client.company %>
      <% end %>
    </div>
  </div>
</div>
