<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title mb-4">Saved_Payment_Method Details</h5>
    <div class="row">
      <%= render "saved_payment_methods/show/card_details", title: 'Saved_Payment_Method Number' do %>
        <%= saved_payment_methods.uuid %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Status' do %>
        <span class="badge <%= status_color(saved_payment_methods.state) %> w-50">
          <%= saved_payment_methods.state %>
        </span>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Last4' do %>
        <%= saved_payment_methods.last4 %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'First Name' do %>
        <%= saved_payment_methods.first_name %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Last Name' do %>
        <%= saved_payment_methods.last_name %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Espago Saved_Payment_Method ID' do %>
        <%= saved_payment_methods.espago_client_id %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Card Identifier' do %>
        <%= saved_payment_methods.card_identifier %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Year' do %>
        <%= saved_payment_methods.year %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Month' do %>
        <%= saved_payment_methods.month %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Primary' do %>
        <div data-controller="primary-saved_payment_methods-toggle" data-primary-saved_payment_methods-toggle-url-value="<%= toggle_primary_client_path(saved_payment_methods) %>">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="primary-saved_payment_methods-toggle" <%= "checked" if saved_payment_methods.primary? %> <%= "disabled" unless saved_payment_methods.mit? %> data-action="change->primary-saved_payment_methods-toggle#toggle" >
            <label class="form-check-label" for="primary-saved_payment_methods-toggle">
              <% unless saved_payment_methods.mit? %>
                <i
                    class="bi bi-info-circle text-muted"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="You need to Authorize your Payment Method in order to make it Primary"
                  ></i>
              <% end %>
            </label>
          </div>
        </div>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Company' do %>
        <%= saved_payment_methods.company %>
      <% end %>
    </div>
  </div>
</div>
