<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title mb-4">Saved Payment Method Details</h5>
    <div class="row">
      <%= render "saved_payment_methods/show/card_details", title: 'Saved Payment Method Number' do %>
        <%= saved_payment_method.uuid %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Status' do %>
        <span class="badge <%= status_color(saved_payment_method.state) %> w-50">
          <%= saved_payment_method.state %>
        </span>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Last4' do %>
        <%= saved_payment_method.last4 %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'First Name' do %>
        <%= saved_payment_method.first_name %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Last Name' do %>
        <%= saved_payment_method.last_name %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Espago Client ID' do %>
        <%= saved_payment_method.espago_client_id %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Card Identifier' do %>
        <%= saved_payment_method.card_identifier %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Year' do %>
        <%= saved_payment_method.year %>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Month' do %>
        <%= saved_payment_method.month %>
      <% end %>
      <div class="w-100 mb-2"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Primary' do %>
        <div data-controller="primary-saved-payment-method-toggle" data-primary-saved-payment-method-toggle-url-value="<%= toggle_primary_saved_payment_method_path(saved_payment_method) %>">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="primary-saved-payment-method-toggle" <%= "checked" if saved_payment_method.primary? %> <%= "disabled" unless saved_payment_method.mit? %> data-action="change->primary-saved-payment-method-toggle#toggle" >
            <label class="form-check-label" for="primary-saved-payment-method-toggle">
              <% unless saved_payment_method.mit? %>
                <i
                    class="bi bi-info-circle text-muted"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    title="You need to Authorize your Saved Payment Method in order to make it Primary"
                  ></i>
              <% end %>
            </label>
          </div>
        </div>
      <% end %>
      <div class="w-100 mb-2 d-lg-none"></div>
      <%= render "saved_payment_methods/show/card_details", title: 'Company' do %>
        <%= saved_payment_method.company %>
      <% end %>
    </div>
  </div>
</div>
