<div class="list-group">
  <%= link_to "Orders", account_path(section: 'orders'),
            class: "list-group-item list-group-item-action",
            data: { turbo_frame: "account_content" } %>
  <%= link_to "Subscriptions", account_path(section: 'subscriptions'),
            class: "list-group-item list-group-item-action",
            data: { turbo_frame: "account_content" } %>
  <%= link_to "Saved Payment Methods", account_path(section: 'saved_payment_methods'),
            class: "list-group-item list-group-item-action",
            data: { turbo_frame: "account_content" } %>
  <%= button_to "Edit Account", edit_user_registration_path, method: :get,
                                                                 class: "list-group-item list-group-item-action" %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete,
                                                         class: "list-group-item list-group-item-action text-danger" %>
  <%= button_to "Delete Account", user_registration_path, method: :delete,
                                                              class: "list-group-item list-group-item-action text-danger" %>
  <%= render "subscription_status"%>
</div>
