<%= turbo_stream_from @user %>
<div>
  <div data-controller="user-sidebar">
    <div class="row">
      <div class="col-lg-3" style="margin-bottom: 20px;">
        <div class="list-group">
          <button class="list-group-item list-group-item-action"
                data-action="click->user-sidebar#toggleRubitsSection">
            Rubits
          </button>
          <button class="list-group-item list-group-item-action"
                data-action="click->user-sidebar#toggleLikesSection">
            Likes
          </button>
          <button class="list-group-item list-group-item-action"
                data-action="click->user-sidebar#toggleCommentsSection">
            Comments
          </button>
          <button class="list-group-item list-group-item-action"
                data-action="click->user-sidebar#toggleOrdersSection">
            Orders
          </button>
          <%= button_to "Edit Account", edit_user_registration_path, method: :get,
                                                                   class: "list-group-item list-group-item-action" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete,
                                                           class: "list-group-item list-group-item-action text-danger" %>
          <%= button_to "Delete Account", user_registration_path, method: :delete,
                                                                class: "list-group-item list-group-item-action text-danger" %>
        </div>
      </div>
      <div class="col-lg-9">
        <%= render "users/sidebar/rubits_section" %>
        <%= render "users/sidebar/likes_section" %>
        <%= render "users/sidebar/comments_section" %>
        <%= render "users/sidebar/orders_section" %>
      </div>
    </div>
  </div>
</div>
