<div class="d-flex flex justify-content-end mb-4">
  <%= link_to "Back", :back,
            class: "btn btn-primary me-2" %>
  <% unless @client.mit? %>
    <%= link_to "Authorize", authorize_client_path(@client),
            class: "btn btn-success me-2" %>
  <% end %>
</div>
<%= render 'clients/show/card', client: @client %>
<%= render 'clients/show/payments' %>
<div class="d-flex flex justify-content-end mt-4">
  <%= button_to 'Delete', @client, method: :delete, class: "btn btn-secondary me-2" %>
</div>
