<h3 class="mb-4 text-center">Return Order</h3>
<% if @order %>
  <h5 class="mb-4 text-center">
    Your order amount was <strong><%= number_to_currency(@order.amount) %></strong>
  </h5>
<% end %>
<%= form_with url: espago_refund_payment_path, method: :post, data: { turbo: false }, id: "payment_form" do |form| %>
  <%= hidden_field_tag :payment_number, @order.payments.first.payment_number%>
  <div class="mb-4 border rounded p-3">
    <h6 class="text-center">
      Confirm your order return. Please keep in mind that order return cannot be reversed.
      <br>
      <br>
      Your funds will be returned to the payment method used to purchase the order.
    </h6>
  </div>
  <%= form.submit "Return Order", class: "btn btn-primary btn-lg w-100" %>
  <%= link_to "Abort", order_path(@order), class: "btn btn-success btn-lg w-100 mt-2" %>
  <p class="text-center text-muted mt-1 mb-0" style="font-size: 0.9rem;">
    Payments provided by Espago
  </p>
<% end %>