<div class="row mt-4">
  <div class="col-lg-12">
    <div class="card shadow-sm border-light">
      <div class="card-body">
        <h5 class="card-title mb-3">Payments</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Payment Number</th>
              <th>Amount</th>
              <th>State</th>
              <th>Reject Reason</th>
              <th>Behaviour</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <% payments.each do |payment| %>
              <% css_class = color_for_payment_status(payment.state) %>
              <tr>
                <td class="<%= "#{css_class} text-white" %>"><%= payment.payment_number %></td>
                <td class="<%= "#{css_class} text-white" %>"><%= number_to_currency(payment.amount) %></td>
                <td class="<%= "#{css_class} text-white" %>"><%= payment.state.humanize %></td>
                <td class="<%= "#{css_class} text-white" %>"><%= payment.reject_reason.presence || "N/A" %></td>
                <td class="<%= "#{css_class} text-white" %>"><%= payment.behaviour.presence || "N/A" %></td>
                <td class="<%= "#{css_class} text-white" %>"><%= payment.created_at.strftime("%B %d, %Y at %I:%M %p") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>