<%= turbo_frame_tag "rubit_#{rubit.id}" do %>
  <div class="card mt-3 ml-3" id="rubit_<%= rubit.id %>">
    <div class="card-body p-5">
      <h6 class="card-title text-muted" style="font-size: 0.8rem;">
        @<%= rubit.user.username %>
      </h6>
      <p class="card-text">
        <%= rubit.content %>
      </p>
      <div class="card-footer bg-transparent border-top-0 d-flex justify-content-between align-items-center p-0 m-0">
        <%= render partial: "likes/like_section", locals: { rubit: rubit } %>
        <% if rubit.user == current_user %>
          <%= button_to rubit_path(rubit), method: :delete,
                                           class: "btn btn-sm text-dark p-1" do %>
            <i class="bi bi-trash" style="font-size: 1.5rem; color: black;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
