<nav class="navbar">
  <div class="container-fluid mt-2">
    <a href="/" class="navbar-brand">
      <%= image_tag "home.svg", alt: "Logo", class: "navbar-icon" %>
    </a>
    <div>
      <a class="navbar-brand position-relative" href="<%= cart_path %>">
        <%= image_tag "shopping_cart.svg", alt: "Cart", class: "navbar-icon" %>
        <%= render "layouts/cart_quantity" %>
      </a>
      <a class="navbar-brand" href="<%= account_path %>">
        <%= image_tag "account.svg", alt: "Account", class: "navbar-icon" %>
      </a>
    </div>
  </div>
</nav>
